<div class="jumbotron">
    <h1>Azure Active Directory B2C</h1>
    <p class="lead">Consumer identity and access management in the cloud</p>
    <p><a href="https://azure.microsoft.com/en-us/services/active-directory-b2c/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><a href="https://github.com/beejones/BuyMoreDemo/tree/master/B2CRestApi" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
    <p><a href="http://b2cauthapi.azurewebsites.net/" class="btn btn-primary btn-lg">Deployed here &raquo;</a></p>
</div>
