@using System.Security.Claims;

@{
    ViewBag.Title = "Home Page";

}

@model  IEnumerable<Claim>

<div class="jumbotron">
    <p class="lead">Tap 'Log in' to test Azure Active Directory B2C</p>
</div>

<div class="jumbotron">
    <h1>Azure Active Directory B2C</h1>
    <p class="lead">Consumer identity and access management in the cloud</p>
    <p><a href="https://azure.microsoft.com/en-us/services/active-directory-b2c/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><a href="https://github.com/beejones/BuyMoreDemo/tree/master/B2CAppMvc" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
</div>

<div>
    <ul>
        @if (Model != null)
            {
                foreach (var c in Model)
                {
                <li>@c.Type : @c.Value</li>
            }
        }
    </ul>
</div>
