@using B2CAppMvc.Models.Account
@using B2CAppMvc.Properties
@{
    ViewBag.Title = "Log in";
}
<div class="jumbotron">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p>@string.Format("This page lists the sign-up or sign-in policies that have been added to tenant '{0}'.", Settings.Default.B2CTenant)</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-b2c-reference-policies/" role="button">Learn more &raquo;</a>
        </p>
    </div>
</div>
<div class="container marketing">
    @Html.Partial("_ExternalLoginListPartial", new ExternalLoginListViewModel
    {
        ReturnUrl = ViewBag.ReturnUrl
    })
</div>
